.donut-chart {
    width: 600px;
    height: 300px;
}

text {
    font-size: 14px;
}

.chart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.donut-general-charts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0px;
    margin-top:15px;
}

header {
    margin-top: 50px;
}

.title {
    margin-bottom: 15px;
}


.nav {
    margin-top: 70px;
    margin-bottom: 40px;
}

.chart-title {
    margin-top: 60px;
    text-align: center;
    font-weight: 500;
}

#artists-charts, #energy-charts {
    display: none;
}

.container {
    margin-bottom: 50px;
}

.energy-nav-title {
    margin-top: 40px;
}